.left-box {
	float: left;
	width: 50%;
}

.right-box {
	float: right;
	width: 50%;
	height: 600px;
}
.divide {
	padding : 15px;
}
.divide2 {
	padding : 5px;
}
.container-fixed {
	position : fixed;
	top : 60px;
}
.modal-title {
	text-align : center;
}
.box1 {
    width: 50px;
    height: 50px; 
    border-radius: 70%;
    overflow: hidden;
}
.profile {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.box2 {
     width: 120px;
    height: 105px; 
    border-radius: 10%;
    overflow: hidden;
}
.acc {
    width: 100%;
    height: 100%;
    object-fit: full;
}
.leftDiv{
	display:none;
}
.box-acc{
	margin : 15px;
	
}
.guestbtn{
	width:32px; 
	height:32px; 
	border-radius: 50%
}
#entire-payment {
	border: 3px black;
	border-top: rounded;
}
#left-payment {
	border: 3px black;
	border-bottom: rounded;
}
