@charset "UTF-8";

	* {
	  margin: 0;
	  padding: 0;
	  box-sizing: border-box;
	}
	body {
	    font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif;
	    font-size: 14px;
	    line-height: 1.43;
	    color: #484848;
	    background-color: #fff;
	    margin: 0;
	    -webkit-font-smoothing: antialiased;
    }
	    .guestbtn{
	   width:32px; 
	   height:32px; 
	   border-radius: 50%
	}
    #top-div {
		padding-left: 80px;
		padding-right: 80px;
		height: 86px;
	} 
	.title {
		font-size: 26px;
	}
	h4 {
		font-size: 22px;
		font-weight: bold;
	}
	
	p {
		font-size: 16px;
	}
	
	h6 {
	
		font-size: 16px;
		font-weight: bold;
	}
	
	h5 {
		font-size: 18px;
		font-weight: bold;
	}
	
	
	/* 
		사이드
	*/
	#side {
		width: 491px;
		padding-left: 100px;
	}
	
	#sticky {
	   position: sticky;
	   top: 85px;
	   padding: 0;
	   width: 372px;
	}
	#guest{
		position: absolute;
		background: rgb(255, 255, 255);
		width: 332px;
		border: 1px solid;
		padding: 16px;
		z-index: 1000;
		border-top: 0;
	}
	
	
	hr {
		z-index: 100;
	}
	
	
	.place-box{
		width: 207px;
		height: 143px;
		padding: 24px;
		border: 1px solid rgb(221, 221, 221);
		margin-left: 8px;
		
	}
	
	.guest{
		border:1px solid;
		width: 320px;
		height: 56px;
	}
	
	
	.start {
		padding: 0;
	}
	
	.r-btn{
		background-color: #ff385c;
	}
	
	
	#guest-btn {
		height: 56px;
		width: 332px;
		border: 1px solid rgb(113, 113, 113);
		
		cursor: pointer;
		border-top-right-radius: 0;
		border-bottom-right-radius: 0.5em;
		border-top-left-radius: 0;
		border-bottom-left-radius: 0.5em;
	}
	
	#days {
	  	width: 332px;
	  	height: 56px;
	  	font-size: 15px;
	 	border: 1px solid rgb(113, 113, 113);
	  	border-radius: 10px;
	  	outline: none;
	  	cursor: pointer;
	  	border-top-right-radius: 0.5em;
	 	border-bottom-right-radius: 0;
		border-top-left-radius: 0.5em;
		border-bottom-left-radius: 0;
		border-bottom: 0px;
	} 
	
	.adult{
		display: inline-flex;
		align-items: center;
	}
	
	
	#box {
		padding: 24px;
		height: 557px;
	}
	
	.content2 {
		font-size: 16px;
	}
	
	.contentbox {margin:20px auto;}
    .content {
        width: auto;
        font-size: 16px;
    }
    
	.convenience {
  		align-items: center;
	}
    
    #map {
	    width:1120px;
	    height:480px;
    }
    #map2 {
	    width:1550px;
	    height:810px;
    }
    
    .main {
    	width:1200px;
    }
    .container {
    	width:1200px;
    	padding: 0px 40px;
    }
    .image2 {
    	display:block;
		width:100%;
		height:auto;
    }
    #air-cover {
    
    	width: 97.5px;
    	height: 26px;
    }
    #nav-1 {
    	position: fixed;
    	height: 80px;
    	tob: 0; 
    	z-index: 1000; /*페이지의 다른 요소보다 가장 위에 나타나도록 설정*/
    	width: 100%;
    	padding-left: 400px;
    	padding-right: 400px;
    }
	 
	#box {
		width: 380px;
		height: auto;
	}
	.boxhd {
		height: 27px;
		margin-bottom: 24px;
	}
	
	

	
	.profile {
		border-radius: 70%;
		width: 64px; 
		height: 64px;
	}
	
	/* 사진 */
	
	.flex-container{
            display: flex;
        }
	.flex-container2{
            display: flex;
            flex-direction: column;
        }
    .flex-item{
        width: 280px;
        height: 506px;
        padding: 0px 0px 0px 8px;
    }
    .flex-item2{
        width: 741px;
        height: 496px;
        background-color: darksalmon;
        
    }
    .flex-item3{
        width: 366px;
        height: 487px;
        background-color: red;
        
    }
    .flex-item1{
        width: 560px; 
		height: 506px;
		padding: 0px;
    }
    .short-bottom {
    	padding-top: 8px;
    }
	
	#image-large {
		width: 560px; 
		height: 506px;
		border-top-left-radius: 1em;
		border-bottom-left-radius: 1em;
		overflow: hidden;
		
	}
	#image-large:hover {
		width: 560px; 
		height: 506px;
		border-top-left-radius: 1em;
		border-bottom-left-radius: 1em;
	 	transition: transform 1s;
	  	filter: brightness(70%);
		
	}
	#image-right-top {
		border-top-right-radius: 1em;
		overflow: hidden;
	}
	#image-right-top:hover {
		border-top-right-radius: 1em;
		overflow: hidden;
		transition: transform 1s;
	  	filter: brightness(70%);
	}
	#image-right-bottom {
		border-bottom-right-radius: 1em;
		overflow: hidden;
	}
	#image-right-bottom:hover {
		border-bottom-right-radius: 1em;
		overflow: hidden;
		transition: transform 1s;
	  	filter: brightness(70%);
	}
	.short-img {
		width: 272px; 
		height: 249px;
		overflow: hidden;
	}
	.short-img:hover {
		width: 272px; 
		height: 249px;
		transition: transform 1s;
	  	filter: brightness(70%);
	}
	
	.modal-img:hover {
		overflow: hidden;
		transition: transform 1s;
	  	filter: brightness(70%);
	}
	
.card-columns img {
  object-fit: cover;
}

/* Medium devices (tablets, 768px and up) The navbar toggle appears at this breakpoint */
@media (min-width: 576px) {
  .card-columns {
    column-count: 2;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 768px) {
  .card-columns {
    column-count: 2;
  }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .card-columns {
    column-count: 2;
  }
}

#main-content {
	width: 653px;
	
}

/* 리뷰 별점 css */
.scoreBarleft {
	width: 100%;
	height: 4px;
	background-color: rgb(221, 221, 221);
	margin-right: 8.33333% !important;
	border-radius: 2px;
}

#bar-clean-avg,
#bar-accuracy-avg, 
#bar-communication-avg,
#bar-location-avg,
#bar-checkin-avg,
#bar-value-avg {
	/* width: 70%; */ 
	height: 4px;
	background-color: black;
	margin-right: 8.33333% !important;
	border-radius: 2px;
}

.avgName {
	font-size: 13px;
}

.reviewContent {
	font-size: 14px;
}

.noMargin {
	margin: 0;
}
/*
.searchKeyword {
	padding-left: 40px;
	
}
*/
.search-box {
    position: relative;
    text-align: center;
    margin: 0 auto;
}

.bi-search {
    position: absolute;
    left: 15px;
    top: 20px;
    margin: 0;
}

input[type=search] {
	    width: 100%;
	    border-radius: 30px;
	    border: 1px solid #bbb;
	    margin: 10px 0;
	    padding: 10px 40px;
	}
	
#user-image {
       width: 40px;
       height: 40px;
       border-radius: 100%;
   }
