@charset "UTF-8";

body {
	font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto,
		Helvetica Neue, sans-serif;
}

/* host 홈페이지 */
#logo-link {
	position: absolute;
	top: 48px;
	left: 48px;
	display: block;
	height: 36px;
	width: 36px;
	z-index: 2;
	display: block;
	height: 36px;
	width: 36px;
	fill: #fff
}

#starting-host {
	width: 100%;
	height: 100vh;
}

#left-div {
	float: left;
	width: 50%;
	height: 100%;
	box-sizing: border-box;
	display: grid;
}

#right-div {
	float: left;
	width: 50%;
	height: 100%;
	box-sizing: border-box;
	display: grid;
	font-size: 12px;
	font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto,
		Helvetica Neue, sans-serif;
	background-color: white;
}

.host-video {
	position: absolute;
	top: 0;
	left: 50%;
	width: 50%;
	height: 100%;
}

@media ( min-width : 744px) {
	.selectMain {
		background:
			url(https://a0.muscache.com/im/pictures/Hosting/Gradient/original/4abb91ab-2c70-46d7-80a5-9c83ef0221ef.png)
			no-repeat;
		background-size: 100% 100%;
	}
}

.host-box {
	position: absolute;
	overflow: hidden;
	height: 100%;
	width: 100%;
	z-index: -1;
	background:
		url(https://a0.muscache.com/im/pictures/Hosting/Gradient/original/4abb91ab-2c70-46d7-80a5-9c83ef0221ef.png)
		no-repeat;
	background-size: 100% 100%;
}

.left-main-text {
	color: white;
	font-size: 48px;
	line-height: 56px;
	margin-bottom: 12px;
	font-weight: 600;
	word-break: keep-all;
}

/* 로그인 모달 */
.modal-dialog-centered {
	justify-content: center;
}

.modal-context-box {
	-webkit-box-direction: normal;
	-webkit-box-orient: vertical;
	background: rgb(255, 255, 255);
	position: relative;
	width: 100vw;
	max-width: 568px;
	max-height: 100%;
	display: flex;
	flex-direction: column;
	box-shadow: rgb(0 0 0/ 28%) 0px 8px 28px;
	border-top-left-radius: 12px;
	border-top-right-radius: 12px;
	animation-duration: 400ms;
	animation-iteration-count: 1;
	animation-fill-mode: both;
	animation-name: keyframe_d37zz3;
}

.modal-btn-close-box {
	position: absolute;
	display: flex;
	top: 29px;
	left: 31px;
	z-index: 1;
}

.modal-btn-close {
	content: "";
	display: block;
	position: absolute;
	transform: translate(-50%, -50%);
	width: 32px;
	height: 32px;
	border-radius: 50%;
}

.modal-header {
	justify-content: center;
}

.modal-welcome-message-box {
	margin-top: 8px;
	margin-bottom: 24px;
}

.modal-welcome-message {
	font-size: 22px;
	line-height: 26px;
	color: black;
	font-weight: 600;
	margin-bottom: 8px;
}

/* 전화번호 또는 이메일 입력 폼 label */
.input-form-label {
	color: rgb(113, 113, 113);
	font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto,
		"Helvetica Neue", sans-serif;
	font-size: 16px;
	line-height: 20px;
	font-weight: 400;
	transition: -ms-transform 0.15s cubic-bezier(0.455, 0.03, 0.515, 0.955)
		0s, -webkit-transform 0.15s cubic-bezier(0.455, 0.03, 0.515, 0.955) 0s,
		transform 0.15s cubic-bezier(0.455, 0.03, 0.515, 0.955) 0s;
}

/* 전화번호 또는 이메일 입력 폼 input */
.form-control:focus {
	color: #212529;
	background-color: #fff;
	border-color: black;
	outline: 0;
	box-shadow: none;
}

/* 공지/알림문구 박스 */
.modal-phone-number-help-text-box {
	margin-top: 8px;
	color: rgb(34, 34, 34);
	font-size: 12px;
	line-height: 16px;
	font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto,
		"Helvetica Neue", sans-serif;
	font-weight: 400;
}

.modal-continue-btn {
	width: 100%;
	transition: opacity 1.25s ease 0s;
	background-image: radial-gradient(circle at center center, rgb(255, 56, 92)
		0%, rgb(230, 30, 77) 27.5%, rgb(227, 28, 95) 40%, rgb(215, 4, 102)
		57.5%, rgb(189, 30, 89) 75%, rgb(189, 30, 89) 100%);
}

/* 로그인모달 '또는' 라인 */
.modal-also-line {
	display: flex;
	flex-basis: 100%;
	align-items: center;
	color: rgba(0, 0, 0, 0.35);
	font-size: 14px;
	margin: 8px 0px;
}

.modal-also-line::before, .modal-also-line::after {
	content: "";
	flex-grow: 1;
	margin: 0px 16px;
	background: rgba(0, 0, 0, 0.35);
	height: 1px;
	font-size: 0px;
	line-height: 0px;
}

/* 모달 푸터(또는 라인 밑, sns로그인) */
.modal-footer {
	border: none;
	padding-top: 0;
}

/* sns로그인 텍스트 박스 */
.modal-login-btn-text {
	font-weight: 600 !important;
	font-size: 14px !important;
}

/* become-a-host 페이지 */

/* 숙소 유형 선택 페이지 */
/*  header */
.right-div-header {
	height: 87px;
}

@media ( max-width : 992px) {
	.nav-ask-superhost {
		display: none !important;
		font-size: 12px !important;
		line-height: 16px !important;
		color: #222222 !important;
		padding: 4px 22px 4px 2px !important;
		background: #fff !important;
		box-shadow: 0px 0px 0px 1px #DDDDDD inset, 0px 2px 4pxrgba(0, 0, 0, 0.18)
			!important;
	}
}

.nav-item {
	margin-bottom: 6px;
}

.profile-btn {
	width: 230px;
	background-color: #fff ! important;
	box-shadow: 0px 0px 0px 1px #DDDDDD inset, 0px 2px 4px
		rgba(0, 0, 0, 0.18);
}

.right-nav-btn {
	background-color: #f7f7f7;
	cursor: pointer;
	text-align: center;
	border: none;
	outline: none;
	padding: 6px;
	margin-right: 11px;
	border-color: #DDDDDD;
	color: #222222;
	height: 32px;
	font-size: 12px;
	font-weight: 600;
	font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto,
		Helvetica Neue, sans-serif;
}

.sm-profile-img {
	position: relative;
	width: 22px;
	height: 22px;
	border-radius: 50%;
	top: -2px;
	border: 1px solid #fff;
}

.front-img {
	left: -65px;
	z-index: 30;
}

.middle-img {
	left: -77px;
	z-index: 20;
}

.back-img {
	left: -89px;
	z-index: 10;
}

.profile-text {
	float: right;
	margin-right: 7px;
	position: relative;
	left: 1px;
	top: -23px;
}

/* 숙소 메인 유형 */
.main-box {
	height: 100%;
	overflow: scroll;
}

#right-content-box {
	max-width: 464px;
	margin: 0 auto;
}

.btn-types {
	max-width: 464px;
	border-radius: 12px;
	border: 1px solid rgb(221, 221, 221);
	background-color: white;
}

.btn-types:hover {
	box-shadow: rgb(34, 34, 34) 0px 0px 0px 2px !important;
}

.btn-type-checked {
	border: 2px solid black !important;
	background-color: rgb(247, 247, 247) !important;
}

.main-type-img {
	object-fit: cover;
}

.text-lg-center {
	font-size: 18px;
}

/* 숙소 서브 유형 */
.sub-type-description {
	font-size: 14px !important;
	line-height: 20px !important;
	color: rgb(113, 113, 113) !important;
}

::-webkit-scrollbar {
	display: none;
}

/* 호스트 등록 페이지 footer */
.progress {
	height: 2px;
}

/* 주소 등록 페이지 */
.location-form {
	background-color: #FFFFFF !important;
	position: absolute;
	box-shadow: 0px 6px 16px rgb(0 0 0/ 12%) !important;
	width: 40% !important;
	max-width: 600px !important;
	margin: auto !important;
	top: 50%;
	left: 75%;
}

.location-form-header {
	font-size: 18px;
	line-height: 22px;
}

.location-form-scroll {
	overflow: overlay;
	max-height: 55vh !important;
}

@media ( max-height : 1100px ) {
	.location-form {
		height: 65vh !important;
	}
}

@media ( max-height : 1100px ) {
	.location-form-scroll {
		max-height: 45vh !important;
	}
}

.flex-box {
	justify-content: space-between;
}

.form-check-input {
	width: 30px;
}

.form-switch:focus {
	outline: none;
	cursor: none;
}

.form-check-input:focus {
	outline: none;
	cursor: none;
}

#locationRightDivHeader {
	z-index: 2;
	background-color: transparent !important;
	top: 0px !important;
	right: 0px;
	position: fixed !important;
	width: 50vw !important;
	pointer-events: none !important;
	background: transparent;
}

#locationProfileBtn {
	box-shadow: none;
	background-color: black !important;
	color: white;
	position: relative;
}

#locationProfileImgBox {
	position: absolute;
	top: 7px;
	right: 83px;
}

#locationProfileImg {
	border: none;
}

#locationProfileText {
	position: absolute;
	top: 7px;
	right: -60px;
}

#locationRightNavBtn {
	background-color: black;
	border: 1px solid black !important;
	color: white;
}

#locationFooter {
	position: absolute;
	bottom: 0;
	width: 50%;
	z-index: 3;
}

#locationBackBtnBox {
	font-size: 25px;
	margin-top: 25px;
}

#locationNextBtnBox {
	margin: 30px;
	margin-right: 40px;
	font-size: 20px;
}

.mapBox {
	width: 100% !important;
}

.infoWindow {
	margin: auto;
	padding: 5px;
	min-height: 30px;
	min-width: 200px;
	text-align: center;
	align-items: center;
	word-break: break-all;
	white-space: nowrap;
	overflow: hidden;
}

/* 인원 수 페이지 */
.plusMiusBox {
	display: inline-flex !important;
	align-items: center !important;
	justify-content: space-between !important;
	min-width: 104px;
	font-weight: 400 !important;
	font-size: 16px !important;
	line-height: 20px !important;
	font-weight: 400 !important;
}

.plusMinusIconSpan {
	padding: 5px;
}

.plusMinusBtn {
	width: 32px !important;
	height: 32px !important;
	flex-grow: 0 !important;
	flex-shrink: 0 !important;
	cursor: pointer !important;
	display: inline-flex !important;
	margin: 0 !important;
	padding: 0 !important;
	text-align: center !important;
	text-decoration: none !important;
	border-width: 1px !important;
	border-style: solid !important;
	border-color: #B0B0B0 !important;
	color: #717171 !important;
	touch-action: manipulation !important;
	align-items: center !important;
	justify-content: center !important;
	background: white;
	border-radius: 50% !important;
}

.plusMinusBtn:hover {
	color: rgb(34, 34, 34) !important;
	border-color: rgb(34, 34, 34) !important;
	background: rgb(255, 255, 255) !important;
}

.disabledBtn {
	cursor: not-allowed !important;
	color: rgb(235, 235, 235) !important;
	border-color: rgb(235, 235, 235) !important;
	background: rgb(255, 255, 255) !important;
}

.disabledBtn:hover {
	color: rgb(235, 235, 235) !important;
	border-color: rgb(235, 235, 235) !important;
	background: rgb(255, 255, 255) !important;
}

/* 편의시설 페이지 */
.btn-facilities {
	max-width: 200px;
	min-height: 180px;
	border-radius: 12px;
	border: 1px solid rgb(221, 221, 221);
	background-color: white;
}

/* 사진등록 페이지 */
.photoVideo {
	position: absolute;
	top: 0;
	left: 0%;
	width: 50%;
	height: 100%;
}

.shadowBox {
	height: 50% !important;
	width: 50% !important;
	mix-blend-mode: multiply !important;
	opacity: 0.62 !important;
	position: absolute !important;
	bottom: 0px !important;
	left: 0px !important;
	right: 0px !important;
	background: linear-gradient(to top, rgb(50 50 50), rgba(0, 0, 0, 0))
		!important;
	opacity: 1 !important;
	mix-blend-mode: multiply !important;
}

.left-photo-text {
	position: relative;
	top: 20px;
	color: white;
	font-size: 50px;
	z-index: 100;
	left: 0px;
	line-height: 56px;
	font-weight: 600;
}

.downBox {
	position: relative;
	padding: 70px;
	align-self: end;
	margin-bottom: 120px;
}

.downBoxTextBtn {
	display: flex !important;
	flex-direction: column !important;
	justify-content: center !important;
	margin: 10px;
}

.downBoxBtn {
	cursor: pointer !important;
	text-align: center !important;
	border: none rgb(221, 221, 221) !important;
	background-color: rgba(0, 0, 0, 0.5) !important;
	outline: none !important;
	padding: 0px 16px !important;
	margin: 0px !important;
	color: rgb(255, 255, 255) !important;
	font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto,
		"Helvetica Neue", sans-serif !important;
	position: relative !important;
	transition-property: -ms-transform, -webkit-transform, transform,
		background-color, border-color !important;
	transition-duration: 0.15s !important;
	transition-timing-function: ease-in-out !important;
	border-radius: 32px !important;
	height: 50px !important;
	display: inline-flex !important;
	justify-content: center !important;
	align-items: center !important;
	flex-direction: row-reverse !important;
	flex: 1 1 0% !important;
	font-size: 16px !important;
	line-height: 20px !important;
	font-weight: 600 !important;
	overflow: hidden;
}

.downBoxStopBtn {
	margin: 4px !important;
	float: right;
	appearance: none !important;
	display: inline-flex !important;
	border-radius: 50% !important;
	border: none !important;
	outline: none !important;
	padding: 0px !important;
	color: rgb(255, 255, 255) !important;
	cursor: pointer !important;
	touch-action: manipulation !important;
	position: relative !important;
	background: transparent !important;
	transition: -ms-transform 0.25s ease 0s, -webkit-transform 0.25s ease 0s,
		transform 0.25s ease 0s !important;
	width: 50px !important;
	height: 50px !important;
	justify-content: center !important;
	align-items: center !important;
	appearance: none !important;
}

.downBoxStopBtn::before {
	content: "" !important;
	display: block !important;
	position: absolute !important;
	top: 50% !important;
	left: 50% !important;
	transform: translate(-50%, -50%) !important;
	width: 40px !important;
	height: 40px !important;
	border-radius: 50% !important;
	background: rgb(0, 0, 0) !important;
	opacity: 0.5 !important;
}

.mainPhotoBox {
	max-width: 600px;
	min-height: 400px;
	border: 1px solid rgb(221, 221, 221);
	border-style: dashed !important;
	background-color: white;
}

.photoBox {
	display: inline-block;
	max-width: 289px;
	min-height: 200px;
	border: 1px solid rgb(221, 221, 221);
	border-style: dashed;
	background-color: white;
}

.uploadBox {
	padding: 0;
}

/* 이름 페이지 */
.main-middle-box {
	display: flex !important;
	flex-direction: column !important;
	align-items: center !important;
	justify-content: center !important;
	width: 100% !important;
	max-width: 720px !important;
	min-width: 100px !important;
	margin-left: auto !important;
	margin-right: auto !important;
}

.textArea {
	display: block !important;
	width: 80%;
	outline: none !important;
	border: 1px solid rgb(176, 176, 176) !important;
	margin: 0px !important;
	box-sizing: border-box !important;
	background-color: transparent !important;
	max-height: 25vh !important;
	min-height: 144px !important;
	padding: 16px !important;
	border-radius: 8px !important;
	text-overflow: ellipsis !important;
	font-weight: 600 !important;
	font-size: 25px !important;
	line-height: 38px !important;
	overflow-y: hidden !important;
	word-break: keep-all;
	resize: none !important;
}

/* 가격 페이지 */
.plusMiusBox {
	display: inline-flex !important;
	align-items: center !important;
	justify-content: space-between !important;
	min-width: 104px;
	font-weight: 400 !important;
	font-size: 16px !important;
	line-height: 20px !important;
	font-weight: 400 !important;
}

.plusMinusIconSpan {
	padding: 5px;
}

.plusMinusBtn2 {
	width: 50px !important;
	height: 50px !important;
	flex-grow: 0 !important;
	flex-shrink: 0 !important;
	cursor: pointer !important;
	display: inline-flex !important;
	margin: 0 !important;
	padding: 0 !important;
	text-align: center !important;
	text-decoration: none !important;
	border-width: 1px !important;
	border-style: solid !important;
	border-color: #B0B0B0 !important;
	color: #717171 !important;
	touch-action: manipulation !important;
	align-items: center !important;
	justify-content: center !important;
	background: white;
	border-radius: 50% !important;
}

.plusMinusBtn2:hover {
	color: rgb(34, 34, 34) !important;
	border-color: rgb(34, 34, 34) !important;
	background: rgb(255, 255, 255) !important;
}

.disabledBtn {
	cursor: not-allowed !important;
	color: rgb(235, 235, 235) !important;
	border-color: rgb(235, 235, 235) !important;
	background: rgb(255, 255, 255) !important;
}

.disabledBtn:hover {
	color: rgb(235, 235, 235) !important;
	border-color: rgb(235, 235, 235) !important;
	background: rgb(255, 255, 255) !important;
}

#priceInputBox {
	display: flex !important;
	margin-top: 0px !important;
	opacity: 1 !important;
	border-radius: 8px !important;
	box-shadow: inset 0 0 0 1px #b0b0b0 !important;
	color: #222222 !important;
	background-color: #FFFFFF !important;
	margin-left: 16px !important;
	margin-right: 16px !important;
}

#priceInput {
	width: 100% !important;
	border: none !important;
	outline: none !important;
	padding-left: 0 !important;
	padding-right: 0 !important;
	padding-top: 0 !important;
	padding-bottom: 0 !important;
	margin-left: 12px !important;
	margin-right: 12px !important;
	margin-top: 8px !important;
	margin-bottom: 8px !important;
	min-height: 1px !important;
	color: inherit !important;
	background-color: transparent !important;
	font-family: inherit !important;
	font-size: 48px !important;
	font-weight: 600 !important;
	line-height: 80px !important;
	text-align: center !important;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* 완료 페이지 */ 
.phoneBox {
    border: 1px solid rgb(235, 235, 235) !important;
    box-shadow: rgb(0 0 0 / 12%) 0px 6px 16px !important;
    width: 336px !important;
    max-width: 90% !important;
    height: 100% !important;
    min-height: 400px !important;
    max-height: 680px !important;
    padding: 12px !important;
    border-radius: 32px !important;
    background-color: rgb(255, 255, 255) !important;
}