@charset "UTF-8";

#nav {
    top:0;
    left:0;
    
	margin:0;
	height:80px;
	width:98.9vw;
	background-color: #FFFFFF;
	border-bottom:solid 1px #E6E6E6;}

.box{
	display: flex;
	justify-content: space-between;
	align-items: center;
}

#where-field:focus, #startDate:focus, #endDate:focus {
	outline: none;
}
.area-btn {
	border: none;
	background-color:transparent;
}
#startDate, #endDate {
	border: none;
	height: 35px;
	text-align: center;
}

#userbtn{
	display: flex;
	justify-content: space-between;
}
.acc-thumbnail{
	vertical-align: middle;
	width: 33px;
	height: 33px;
	border-radius: 50%;
}
.hostbtn {
	background-color: transparent;
    border: none;
    font-size: 14px;
    width: 130px;
    font-weight: bold;
}
.btn-group {
	padding: 0 10px;
}
.btn-group > .btn {
	background-color:transparent; border: none; font-size: 14px;
}
.dropdown-menu {
	width: 50vw;
	min-height: 500px;
	transform: translateX(-50%);
	border-radius: 40px;
	box-shadow: 0px 0.5rem 1rem 0px rgb(0 0 0 / 15%);
    border: transparent;
    padding: 20px;
}
.search-btn {
	background-color:transparent; 
	border:none
}
.search-btn span {
	background-color: #FF7977; 
	color: white;
	border-radius: 50px;
	padding: 9px;
	font-size: 15px;
}
/* user버튼 입니다 */
.dropbtn {
  background-color: #FFFFFF;
  color: black;
  padding: 0px;
  padding-left:12px;
  padding-right:5px;
  font-size: 10px;
  border: solid 1px #E6E6E6;
  border-radius:20px;
  cursor: pointer;
  width:80px;
  height:42px;
  
  z-index: 0;
  position: relative;
}

.dropbtn a {
	z-index: -1;
	position: relative;
	
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  top:50px;
  right:15px;
  background-color: #ffffff;
  min-width: 210px;
  max-height: 250px;
  overflow-x: auto;
  overflow-y: scroll;
  
  border: none;
  box-shadow: 0px .5rem 1rem 0px rgba(0,0,0,0.15);
  border-radius:10px;
  
  padding-top:10px;
  padding-bottom:10px;
  z-index:1;
}

.dropdown-content a {
  color: black;
  padding: 6px 16px;
  text-decoration: none;
  display: block;
  font-size: 14px;
}
.dropbtn:hover {box-shadow: 1px 4px 5px 0px rgba(0,0,0,0.1);}
.dropdown a:hover {background-color: #FAFAFA;}

.show {display: block;}

@media screen and (max-width: 1000px) {
	#logo{display:none;}
	#userbtn{display:none;}
	#search{display: table; margin-left: auto; margin-right: auto;}
}