@charset "UTF-8";

/* .modal-backdrop {opacity: 0 !important;} */
	.carousel-inner img{ object-fit: contain;}
	#googleMap {width: 100vw; height: 100vh; max-width: 58%; position: fixed;}
	#div-sub button {border: none; padding: 3px;}
	#div-sub button:hover {background-color: #F5F5F5;}
	.card {border:none;}
	hr {opacity: 0.1;}
	#googleMap i, .card-body i {color: #FF385C; }
	.badge:empty {padding: 0px; display: unset;}
	.btn-delete-wishlistAcc {border: none; padding: 10px;}
	.btn-delete-wishlistAcc:hover {background-color: #F5F5F5;}
	
	.labels {
	  position: absolute;
	  top: 0;
	  left: 0;
	  /* transform: translate(-50%, -100%); */
	  background-color: white;
	  padding: 0 10px;
	  border-radius: 80px;
	  box-shadow: rgba(0, 0, 0, 0.08) 0px 0px 0px 1px,
	    rgba(0, 0, 0, 0.18) 0px 1px 2px;
	  overflow-y: auto;
	  height: 28px;
	  line-height: 28px;
	  font-weight: bold;
	  cursor: pointer;
	  transition: transform 0.15s ease-in-out;
	  font-size: 14px;
	  vertical-align: middle;
	} 
	
	/* infoWindow 스타일 */
	.gm-style .gm-style-iw-d {overflow: hidden !important;}
	
	.gm-style .gm-style-iw-c{
		border-radius: 15px;
		padding: 0px;
	}
	/* infowWindow의 x버튼과 화살표 숨김 */
	.gm-ui-hover-effect, .gm-style-iw-tc {display: none !important;}
	
	.daterangepicker .drp-calendar.right {
    position: absolute !important;
    right: 0 !important;
    top: 0 !important;
}
    /* 한개의 달력만 출력 */
	.daterangepicker .drp-calendar.right {
    position: absolute !important;
    right: 0 !important;
    top: 0 !important;
	}
	
	.daterangepicker .drp-calendar.right tbody {
	    display: none !important;
	}
	
	.daterangepicker .drp-calendar.right thead > tr:nth-child(2) {
	    display: none !important;
	}
	
	.daterangepicker .drp-calendar.right th.month {
	    display: none !important;
	}
	
	.daterangepicker .drp-calendar.right .calendar-table {
	    background: transparent !important;
	}
	
	.daterangepicker .daterangepicker.ltr .ranges, .daterangepicker.ltr .drp-calendar {
	    float: none !important;
	}
	
	.daterangepicker .drp-calendar.right .daterangepicker_input {
	    position: absolute !important;
	}

	.daterangepicker { border-radius: 12px !important;
	                   width: 400px !important;
	                   box-shadow: rgb(0 0 0 / 28%) 0px 8px 28px !important;
	                   }
	.daterangepicker .drp-calendar.left {width: 340px !important;}
	.daterangepicker .drp-calendar.left .calendar-table { 
							width: 380px !important;}
							
							
	.cancelBtn {text-decoration: underline;
	            border: none;
	            touch-action: manipulation !important;}
	.cancelBtn:hover {background:linear-gradient(#f6f6f6 5%, #ffffff 100%);
	background-color:#f6f6f6;
	}
	.cancelBtn:active {
	position:relative;
	top:1px;
	}
	
	.myButton {
	box-shadow:inset 0px 1px 0px 0px #ffffff;
	background:white;
	background-color:#ffffff;
	border-radius:40px;
	border:1px solid #dcdcdc;
	display:inline-block;
	cursor:pointer;
	color:#666666;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #ffffff;
	}
	.myButton:hover {
		background:linear-gradient(to bottom, #f6f6f6 5%, #ffffff 100%);
		background-color:#f6f6f6;
	}
	.myButton:active {
		position:relative;
		top:1px;
	}
	
	#my-dropdown-menu {
	    width: 400px;
	    box-shadow: rgb(0 0 0 / 28%) 0px 8px 28px !important;
	    padding: 0px;
	    border-radius: 12px;
	    min-height: auto;
	    /* transform: scale(0.1);
	    transition: .4s; */
	}
	
	#my-dropdown-menu small {font-size: small;}
	.myDropdown-menu {
	padding: 20px;}
	.myDropdown-menu .countButton {
		background:white;
		border: none;
	}
	
	.wishlist-icon span:hover {background-color: transparent !important;}
	.wishlist-icon i:hover {cursor: pointer; transform: scale(1.2); background-color: transparent !important;}
	
	/** 좌측 사진*/
	#tabl1 img {border-radius: 12px;}
	
	.carousel-indicators > button {
 			border-radius: 100% !important;
    width: 8px !important;
    height: 8px !important;
    background-color: #404040 ;
    }
	
