<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="kr.co.airbnb.mapper.AccommodationMapper">
	<resultMap type="Accommodation" id="AccResultMap">
		<id column="ACC_NO" property="accNo"/>
		<result column="TYPE_NO" property="typeNo"/>
		<result column="ACC_REVIEW_COUNT" property="reviewCount"/>
		<result column="ACC_REVIEW_SCORE" property="reviewScore"/>
		<result column="ACC_NAME" property="name"/>
		<result column="ACC_DESCRIPTION" property="description"/>
		<result column="ACC_address" property="address"/>
		<result column="ACC_LATITUDE" property="latitude"/>
		<result column="ACC_LONGITUDE" property="longitude"/>
		<result column="ACC_PRICE" property="price"/>
		<result column="ACC_GUEST" property="guest"/>
		<result column="ACC_PET" property="pet"/>
		<result column="ACC_CHECK_IN" property="checkIn"/>
		<result column="ACC_CHECK_OUT" property="checkOut"/>
		<result column="ACC_CHECK_IN_TYPE" property="checkInType"/>
		<result column="ACC_STATUS" property="status"/>
		<result column="ACC_CREATED_DATE" property="createdDate"/>
		<result column="ACC_UPDATED_DATE" property="updatedDate"/>
		<result column="ACC_VIEW_COUNT" property="viewCount"/>
		<result column="ACC_MIN_DAY" property="minDay"/>
		<result column="ACC_MAX_DAY" property="maxDay"/>
		<result column="ACC_RENT" property="rent"/>
		<result column="ACC_TRAFFIC_DESCRIPTION" property="trafficDescription"/>
		<result column="ACC_REFOUND_DESCRIPTION" property="refoundDescription"/>
		<result column="ACC_CLEANING_PRICE" property="cleaningPrice"/>
		<result column="IMAGE_COVER" property="imageCover"/>
		<result column="AVG_CLEANLINESS" property="cleanScore"/>
		<result column="AVG_ACCURACY" property="accuracyScore"/>
		<result column="AVG_COMMUNICATION" property="communicationScore"/>
		<result column="AVG_LOCATION" property="locationScore"/>
		<result column="AVG_CHECKIN" property="checkinScore"/>
		<result column="AVG_VALUE" property="valueScore"/>
		<result column="AVG_CONVENIENCE" property="convenienceScore"/>
		<result column="AVG_TOTAL" property="totalScore"/>
		
		<association property="user" column="USER_NO" select="kr.co.airbnb.mapper.UserMapper.getUserByNo"/>
	</resultMap>
	
	<!-- List<AccConvenience> getAccConveniencesByAccNo(int accNo); -->
	<select id="getAccConveniencesByAccNo" parameterType="int" resultType="AccConvenience">
		select A.ACC_NO as accNo, 
			   A.CONVENIENCE_NO as "convenience.no",
			   B.CONVENIENCE_NAME as "convenience.name",	       
			   B.CONVENIENCE_ICON_NAME as "convenience.iconName",		       
			   B.CONVENIENCE_TYPE as "convenience.type"		       
		from AIRBNB_ACC_CONVENIENCES A, AIRBNB_CONVENIENCES B
		where A.ACC_NO = #{value}
		and A.CONVENIENCE_NO = B.CONVENIENCE_NO
	</select>
	
	<!-- List<AccPhoto> getAccPhotosByAccNo(int accNo); -->
	<!-- <select id="getAccPhotosByAccNo" parameterType="int" resultType="AccPhoto">
		select 
			ROW_NUMBER() OVER (PARTITION BY A.acc_no ORDER BY A.image_no) as num,
			A.IMAGE_NO as imageNo,
			A.ACC_NO as accNo,
			A.IMAGE_NAME as name,
			A.IMAGE_DESCRIPTION as description,
			A.IMAGE_COVER as cover
		from AIRBNB_ACC_PHOTOS A
		where ACC_NO = #{value}
	</select> -->
	<select id="getAccPhotosByAccNo" parameterType="int" resultType="AccPhoto">
		select 	ROWNUM as num, 
				A.IMAGE_NO as imageNo,
				A.ACC_NO as accNo,
				A.IMAGE_NAME as name,
				A.IMAGE_DESCRIPTION as description,
				A.IMAGE_COVER as cover
 		from
 		(
 			select 
        	A.*
   			FROM AIRBNB_ACC_PHOTOS A
  			where acc_no = #{value}
    		ORDER BY CASE WHEN A.IMAGE_COVER = 'Y' THEN 1 ELSE 2 END,
        	A.image_no ASC
		) A
	</select>
	
	<resultMap type="Accommodation" id="AccDetailResultMap" extends="AccResultMap">
		<collection property="conveniences" column="ACC_NO" select="kr.co.airbnb.mapper.AccommodationMapper.getAccConveniencesByAccNo"></collection>
   		<collection property="photos" column="ACC_NO" select="kr.co.airbnb.mapper.AccommodationMapper.getAccPhotosByAccNo"></collection>
	</resultMap>
	
	<!-- Accommodation getAccommodation(int no); -->
	<select id="getAcc" parameterType="int" resultMap="AccDetailResultMap">
		select *
		from AIRBNB_ACCOMMODATIONS
		where acc_no = #{value}
	</select>

	<!-- void updateReview(Accommodation accommodation) -->
	<update id="updateAvgScore" parameterType="kr.co.airbnb.vo.Accommodation">
		update AIRBNB_ACCOMMODATIONS
	    set    
	    	ACC_REVIEW_COUNT = ACC_REVIEW_COUNT + 1,
	    	ACC_REVIEW_SCORE = #{reviewScore},
	    	AVG_TOTAL = #{totalScore},
	    	AVG_CLEANLINESS = #{cleanScore},
			AVG_ACCURACY = #{accuracyScore},
			AVG_COMMUNICATION = #{communicationScore},
			AVG_LOCATION = #{locationScore},
			AVG_CHECKIN = #{checkinScore},
			AVG_VALUE = #{valueScore},
			AVG_CONVENIENCE = #{convenienceScore}
		where acc_no = #{accNo}
	</update>
	
</mapper>