<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="kr.co.airbnb.mapper.AccommodationMapper">
	<resultMap type="Accommodation" id="AccResultMap">
		<id column="ACC_NO" property="accNo"/>
		<result column="TYPE_NO" property="typeNo"/>
		<result column="ACC_REVIEW_COUNT" property="reviewCount"/>
		<result column="ACC_REVIEW_SCORE" property="reviewScore"/>
		<result column="ACC_NAME" property="name"/>
		<result column="ACC_DESCRIPTION" property="description"/>
		<result column="ACC_address" property="address"/>
		<result column="ACC_LATITUDE" property="latitude"/>
		<result column="ACC_LONGITUDE" property="longitude"/>
		<result column="ACC_PRICE" property="price"/>
		<result column="ACC_GUEST" property="guest"/>
		<result column="ACC_PET" property="pet"/>
		<result column="ACC_CHECK_IN" property="checkIn"/>
		<result column="ACC_CHECK_OUT" property="checkOut"/>
		<result column="ACC_CHECK_IN_TYPE" property="checkInType"/>
		<result column="ACC_STATUS" property="status"/>
		<result column="ACC_CREATED_DATE" property="createdDate"/>
		<result column="ACC_UPDATED_DATE" property="updatedDate"/>
		<result column="ACC_VIEW_COUNT" property="viewCount"/>
		<result column="ACC_MIN_DAY" property="minDay"/>
		<result column="ACC_MAX_DAY" property="maxDay"/>
		<result column="ACC_RENT" property="rent"/>
		<result column="ACC_TRAFFIC_DESCRIPTION" property="trafficDescription"/>
		<result column="ACC_REFOUND_DESCRIPTION" property="refoundDescription"/>
		<result column="ACC_CLEANING_PRICE" property="cleaningPrice"/>
		<result column="IMAGE_COVER" property="imageCover"/>
		<association property="user" column="USER_NO" select="kr.co.airbnb.mapper.UserMapper.getUserByNo"/>
	</resultMap>
	
	<!-- List<AccConvenience> getAccConveniencesByAccNo(int accNo); -->
	<select id="getAccConveniencesByAccNo" parameterType="int" resultType="AccConvenience">
		select A.ACC_NO as accNo, 
			   A.CONVENIENCE_NO as "convenience.no",
			   B.CONVENIENCE_NAME as "convenience.name",	       
			   B.CONVENIENCE_ICON_NAME as "convenience.iconName",		       
			   B.CONVENIENCE_TYPE as "convenience.type"		       
		from AIRBNB_ACC_CONVENIENCES A, AIRBNB_CONVENIENCES B
		where A.ACC_NO = #{value}
		and A.CONVENIENCE_NO = B.CONVENIENCE_NO
	</select>
	
	<!-- List<AccPhoto> getAccPhotosByAccNo(int accNo); -->
	<select id="getAccPhotosByAccNo" parameterType="int" resultType="AccPhoto">
		select 
			IMAGE_NO as imageNo,
			ACC_NO as accNo,
			IMAGE_NAME as name,
			IMAGE_DESCRIPTION as description,
			IMAGE_COVER as cover
		from AIRBNB_ACC_PHOTOS
		where ACC_NO = #{value}
	</select>
	
	<resultMap type="Accommodation" id="AccDetailResultMap" extends="AccResultMap">
		<collection property="conveniences" column="ACC_NO" select="kr.co.airbnb.mapper.AccommodationMapper.getAccConveniencesByAccNo"></collection>
		<collection property="photos" column="ACC_NO" select="kr.co.airbnb.mapper.getAccPhotosByAccNo"></collection>
	</resultMap>
	
	<!-- Accommodation getAccommodation(int no); -->
	<select id="getAcc" parameterType="int" resultMap="AccDetailResultMap">
		select *
		from AIRBNB_ACCOMMODATIONS
		where acc_no = #{value}
	</select>
	

	<!-- void updateAccommodation(Review review) -->
	<update id="updateReviewCount" parameterType="kr.co.airbnb.vo.Accommodation">
		update AIRBNB_ACCOMMODATIONS
	    set    ACC_REVIEW_COUNT = ACC_REVIEW_COUNT + 1
		where  acc_no = #{no}
	</update>

	
</mapper>