<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="kr.co.airbnb.mapper.HostMapper">

<!-- sList<AccType> getAllMainTypes(); -->
<select id="getAllMainTypes" resultType="accType">
	select type_no as no, type_name as name, image_name as imageName
	from airbnb_acc_types
	where main_type is null
	order by no
</select>

<!-- List<AccType> getAllSubTypes(int mainType); -->
<select id="getAllSubTypes" parameterType="int" resultType="accType">
	select type_no as no, type_name as name, image_name as imageName, type_description as description
	from airbnb_acc_types
	where main_type = #{value}
	order by type_no
</select>

<!-- List<AccType> getAllPrivacyTypes(); -->
<!-- <select id="getAllPrivacyTypes" resultType="accPrivacyType">
	select privacy_type_no as no, privacy_type_name as name
	from airbnb_acc_types_privacy
</select> -->

</mapper>