<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="kr.co.airbnb.mapper.ReservationMapper">

	<!-- void insertCard (Card card); -->
	<insert id="insertCard" parameterType="Card">
		<selectKey keyProperty="no" resultType="int" order="BEFORE">
			select card_seq.nextval
			from dual
		</selectKey>
		insert into airbnb_cards
		(card_no, card_id, card_expiry_date, card_cvv, card_zip_code, card_region, user_no)
		values
		(#{no}, #{id}, #{expiryDate}, #{cvv}, #{zipCode}, #{region}, #{user.no})
	</insert>
	
	<!-- void insertReservation (Reservation reservation); -->
	<insert id="insertReservation" parameterType="Reservation">
		<selectKey keyProperty="no" resultType="int" order="BEFORE">
			select reservation_seq.nextval
			from dual
		</selectKey>
		insert into airbnb_reservations
		(reservation_no, user_no, acc_no, check_in_date, check_out_date, adult_number, children_number,
		 infant_number, pet_number, message_to_host, acc_service_fee, acc_total_price, entire_payment, left_payment)
		values
		(#{no}, #{user.no}, #{accommodation.no}, #{checkInDate}, #{checkOutDate},
		 #{adultNum}, #{childrenNum}, #{infantNum}, #{petNum}, #{messageToHost},
		 #{serviceFee}, #{price}, #{entirePay}, #{leftPay})
	</insert>
	
	
	
	
</mapper>