<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="kr.co.airbnb.mapper.WishlistMapper">

	<resultMap type="Wishlist" id="WishlistResultMap">
		<id column="wishlist_no" property="no"/>
		<result column="wishlist_name" property="name"/>
		<result column="wishlist_created_datE" property="createdDate"/>
		<result column="wishlist_updated_date" property="updatedDate"/>
		<association column="user_no" property= "user" select="kr.co.airbnb.mapper.UserMapper.getUserByNo" />
		<collection column="acc_no" property="accs" select="kr.co.airbnb.mapper.AccommodationMapper.getAcc"/>
	</resultMap> 
 
 	<!-- List<Wishlist> getWishlistsByUserNo(int userNo); -->
 	<select id="getWishlistsByUserNo" parameterType="int" resultMap="WishlistResultMap">
 		select *
 		from airbnb_wishlists
 		where user_no = #{value}
 		order by wishlist_no desc
 	</select>
 	
 	<!-- Wishlist getWishlistByNo(int wishlistNo); -->
 	<select id="getWishlistByNo" parameterType="int" resultMap="WishlistResultMap">
 		select *
 		from airbnb_wishlists
 		where wishlist_no = #{value}
 	</select>
 	
 	<resultMap type="Accommodation" id="AccResultMap">
		<id column="ACC_NO" property="accNo"/>
		<result column="ACC_REVIEW_COUNT" property="reviewCount"/>
		<result column="ACC_REVIEW_SCORE" property="reviewScore"/>
		<result column="ACC_NAME" property="name"/>
		<result column="ACC_DESCRIPTION" property="description"/>
		<result column="ACC_address" property="address"/>
		<result column="ACC_LATITUDE" property="latitude"/>
		<result column="ACC_LONGITUDE" property="longitude"/>
		<result column="ACC_PRICE" property="price"/>
		<result column="ACC_GUEST" property="guest"/>
		<result column="ACC_PET" property="pet"/>
		<result column="ACC_CHECK_IN" property="checkIn"/>
		<result column="ACC_CHECK_OUT" property="checkOut"/>
		<result column="ACC_CHECK_IN_TYPE" property="checkInType"/>
		<result column="ACC_STATUS" property="status"/>
		<result column="ACC_CREATED_DATE" property="createdDate"/>
		<result column="ACC_UPDATED_DATE" property="updatedDate"/>
		<result column="ACC_VIEW_COUNT" property="viewCount"/>
		<result column="ACC_MIN_DAY" property="minDay"/>
		<result column="ACC_MAX_DAY" property="maxDay"/>
		<result column="ACC_RENT" property="rent"/>
		<result column="ACC_TRAFFIC_DESCRIPTION" property="trafficDescription"/>
		<result column="ACC_REFOUND_DESCRIPTION" property="refoundDescription"/>
		<result column="ACC_CLEANING_PRICE" property="cleaningPrice"/>
		<result column="IMAGE_COVER" property="imageCover"/>
		<result column="AVG_CLEANLINESS" property="cleanScore"/>
		<result column="AVG_ACCURACY" property="accuracyScore"/>
		<result column="AVG_COMMUNICATION" property="communicationScore"/>
		<result column="AVG_LOCATION" property="locationScore"/>
		<result column="AVG_CHECKIN" property="checkinScore"/>
		<result column="AVG_VALUE" property="valueScore"/>
		<result column="AVG_CONVENIENCE" property="convenienceScore"/>
		<result column="AVG_TOTAL" property="totalScore"/>
		<association property="disabledDate" column="acc_no" select="kr.co.airbnb.mapper.AccommodationMapper.getDisabledByAccNo"/>
		<association property="user" column="USER_NO" select="kr.co.airbnb.mapper.UserMapper.getUserByNo"/>
	</resultMap>
 	
 	<!-- List<Accommodation> getWishlistAccsByNo:(List<Integer> wishlistNo);  distinct? -->
 	<select id="getWishlistAccsByNo" parameterType="int" resultMap="AccResultMap">
 		select *
 		from airbnb_accommodations
 		where acc_no in (select acc_no
 		                 from airbnb_wishlist_accommodations
 		                 where wishlist_no = #{value})
 	</select>
 	
 	<!-- List<Accommodation> getWishlistAccsWithConditions(@Param("wishlistNo")int wishlistNo, @Param("checkInDate") Date checkIndate, @Param("checkOutDate") Date checkOutDate, @Param("guestCount") int guestCount); -->
 	<!-- 확인!!!!!!!!!!!!!!! -->
 	<select id="getWishlistAccsWithConditions" resultMap="AccResultMap">
 		WITH test_accommodations
		 AS ( select *
		 		from airbnb_accommodations
		 		where acc_no in (select acc_no
		 		                 from airbnb_wishlist_accommodations
		 		                 where wishlist_no = #{wishlistNo}))
		SELECT distinct T.*
		FROM test_accommodations T, airbnb_reservations R
		WHERE T.acc_no = R.acc_no(+)
		and T.acc_guest &gt;= #{guestCount}						<!-- 게스트는 없어도 기본값 1 -->
		and T.acc_status = '운영중'
		<if test="checkInDate != null and checkOutDate != null">   
		 AND (R.check_out_date &lt;= #{checkInDate} 
		 OR R.check_in_date &gt;= #{checkOutDate} 
		 OR R.check_in_date is null)
		</if>        
 	
 		<!-- select *
 		from airbnb_accommodations
 		where acc_no in (select acc_no
 		                 from airbnb_wishlist_accommodations
 		                 where wishlist_no = #{wishlistNo})
    	<if test="checkInDate != null">         
    		and acc_check_in &lt;= #{checkInDate}
    	</if>
    	<if test="checkOutDate != null">
    		and acc_check_out &gt;= #{checkOutDate}
    	</if>
    	<if test="guestCount != null">
    		and acc_guest &lt;= #{guestCount}
    	</if> -->
 	</select>
 	
 	<!-- void createWishlist(Wishlist wishlist); -->
 	<insert id="createWishlist" parameterType="Wishlist">
 		<selectKey keyProperty="no" resultType="int" order="BEFORE">
			select wishlists_seq.nextval
			from dual
		</selectKey>
 		insert into airbnb_wishlists (wishlist_no, wishlist_name, user_no)
 		values (#{no}, #{name},  #{user.no})
 	</insert>
 	
 	<!-- void saveWishlistAcc(int wishlistNo, int accNo); -->
 	<insert id="saveWishlistAcc">
 		insert into airbnb_wishlist_accommodations
 		values (#{wishlistNo}, #{accNo})
 	</insert>
 	
 	<!-- void changeWishlist(int wishlistNo, int accNo); 숙소를 다른 위시리스트 폴더로 변경할 때 -->
 	<update id="changeWishlist">
 		update airbnb_wishlist_accommodations
 	     set 
 	      wishlist_no = #{wishlistNo}
 	    where acc_no = ${accNo}
 	</update>
 	
 	<!-- void updateWishlist(Wishlist wishlist); -->
 	<update id="updateWishlist" parameterType="Wishlist">
 		update airbnb_wishlists
 		 set
 		  wishlist_name = #{name}
 		where wishlist_no = #{no}
 	</update>
 	
 	
 	<!-- void deleteWishlistAcc(int accNo, int wishlistNo); -->
 	<delete id="deleteWishlistAcc">
 		delete 
		from airbnb_wishlist_accommodations
		where wishlist_no = #{wishlistNo} and acc_no = #{accNo} 
 	</delete>
 
 
</mapper>